body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 960px;
    /* top right bottom left */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: whitesmoke;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 10%;
    background-color: white;
    color: black;
}

header{
    background: linear-gradient(to right, lightgrey 80%, white 80%);
    height: 15em;
    padding: 10%;
    background-color: white;
}

main {
    background-color: white;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 4em 1em 5em 4em;
}

h1, h2, h3 {
    font-family: serif;
}

p {
    font-size: small;
}

cite {
    font-size: 1.5em;
    font-family: serif;
    font-style: normal;
}

i {
    margin: 0 1em 1em 1em;
}

.travel-blog-logo {
    font-style: italic;
}

.menu {
    font-variant: small-caps;
    list-style: none;
}

.menu__item {
    padding: 0.5em 1em 0.5em 1em;
    font-weight: normal;
}

.menu__item--horizontal {
    display: inline-block;
    padding: 0.5em 0 0.5em 1em;
}

.selected {
    font-weight: bolder;
}

.black-box-float {
    background-color: black;
    color: white;
    width: 40%;
    height: 10em;
    display: block;
    float: right;
    padding: 2em;
    margin: 0;
}

.triple-box {
    display: flex;
    justify-content: flex-end;
    background-color: white;
}

.triple-box__box {
    background-color: grey;
    width: 16%;
    height: 5em;
    /* top right bottom left */
    margin: -2em 0 0 0.5em;
}

.cont1 {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
}

.cont1__r1-c2 {
    /* top right bottom left */
    padding: 2em 2em 2em 40%;
}

.cont1__r1-c3 {
    /* top right bottom left */
    padding: 5em 0 5em 0;
}

.cont1__r1r2-c4 {
    writing-mode: vertical-rl;
    grid-column: 4/5;
    grid-row: 1/3;
    /* top right bottom left */
    padding: 8em 0 0 0;
    height: 20em;
}

.cont1__r2-c2 {
    background-color: lightgrey;
    margin-right: 4em;
}

.cont1__r2-c3 {
    /* Aplly to all sides */
    margin: 0;
    /* top right bottom left */
    padding: 2em 10em 2em 0;
}

.cont2 {
    display: grid;
    /* grid-template-columns: 10% 1fr 1fr 10%; */
    grid-template-columns: 24fr 13fr 17fr;
}

.cont2__c1 {
    /* Applay to all sides */
    margin: 0;
    /* top right bottom left */
    padding: 6em 5em 3em 7em;
}

.cont2__c2 {
    background-color: lightgrey;
    margin-top: 5em;
}

.cont2__c3 {
    background-color: lightgrey;
    /* top right bottom left */
    margin: 3em 3em 9em 4em;
}

.cont2__c3__topbox {
    width: 100%;
    height: 100%;
    background-color: darkgrey;
    margin: -2em -2em 0 -2em; 
}

.cont3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cont3__r1-c1c2 {
    grid-column: 1/3;
    /* top right bottom left */
    margin: 4em auto 4em auto;
}

.cont3__r2-c1 {
    background-color: lightgrey;
    /* top right bottom left */
    margin: 0 8em 0 0;
    height: 30em;
}

.cont3__r2-c1__topbox {
    width: 100%;
    height: 100%;
    background-color: darkgrey;
    margin: 2em -8em -4em 6em; 
}

.cont3__r2-c2 {
    /* top right bottom left */
    margin: 2em 10em 0 2em;
}

.cont3__c1r3 {
    /* Apply to all sides */
    margin: 0;
    /* top right bottom left */
    padding: 6em 4em 3em 7em;
}

.cont3__c2r3 {
    background-color: lightgrey;
    /* top right bottom left */
    margin: 0 0 0 6em;
}

.cont3__c2r3__topbox {
    width: 100%;
    height: 100%;
    background-color: darkgrey;
    margin: -3em 8em 0 -6em; 
}

.cont4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cont4__r1-c1c2 {
    grid-column: 1/3;
    /* top right bottom left */
    margin: 4em 20em 0 0;
    background-color: black;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.cont4__r1-c1c2__circle {
    background-color: grey;
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.cont4__r2-c1 {
    /* top right bottom left */
    padding: 2em 5em 2em 3em;
    font-style: italic;
}

.cont4__r2-c2 {
    background-color: lightgrey;
    margin: -10em 5em 0 0;
}

.cont5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cont5__r1-c1c2 {
    margin: 2em 14em 2em 14em;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
}

.cont5__r1r2-c2 {
    grid-column: 2/3;
    grid-row: 2/4;
    background-color: lightgrey;
    margin: 4em 5em 8em 2em;
}

.cont5__r2-c1 {
    background-color: lightgrey;
    margin: 2em 6em 0 9em;
    height: 20em;
}

.cont5__r2-c1__topbox {
    width: 100%;
    height: 100%;
    background-color: darkgrey;
    margin: -2em -2em 2em 2em;
}

.cont5__c1-r3 {
    /* Apply to all sides */
    margin: 0;
    /* top right bottom left */
    padding: 2em 5em 3em 7em;
}

.footer__box {
    background-color: grey;
    width: 16%;
    height: 5em;
    /* top right bottom left */
    margin: -2em 0 0 0.5em;
}

.phone-or-mail {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding-left: 1em;
    font-style: normal;
}

.contact-icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
}

.circle-icon {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    width: 30px;
    height: 30px;
    margin: 0 0 0 1em;
    padding: 10px 0 -10px 0; /* Failed to center the icons. Tried everything I can think of  */ 
}

.test-item {
    border: 2px solid orange;
    background-color: rgb(255, 183, 50);

}

.test-itemX {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.349);
    grid-column: 4/5;
    grid-row: 1/3;

}

.test-listitem {
    display: inline-block;
}

